.html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Cormorant', sans-serif;
  background: 
  url(../../assets/noise.svg),
  radial-gradient(
    circle at 50% 10%,
    #7a7a7a 17%,
    #7a7777 30%,
    #022529 80%
  );
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

  color: #282828;
}


@media (max-width: 700px) {
  .App {
   transform: scale(0.8);
   height: 10vh;
 }
 h1 {
   text-align: center;
 }
  .nav-list {
    flex-direction: column;
    align-items: center;
  }
}