.drink-details-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.drink-details-nav {
    height: 20%;
    width: 100%;
}

.drink-details-exit {
    height: 5%;
    position: absolute;
    top: 12%;
    left: 3%;
    cursor: pointer;
    &:hover {
        border-style: inset;
    }
}

.drink-details-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: black;
    height: 90%;
    width: 98%;
    border-radius: 1rem;
    margin-left: 1%;
}

.drink-details-name {
    font-size: xxx-large;
    margin-bottom: 0px;
}

.drink-details-image {
    height: 100%;
    width: 30%;
    mask-image: linear-gradient(to left, rgba(0,0,0,0) 5%,rgba(0, 0, 0, 0.99) 40%);
    -webkit-mask-image: linear-gradient(to left, rgba(0,0,0,0) 5%,rgba(0,0,0,0.99) 40%);
    border-radius: 1rem;
}

.drink-details-text {
    width: 70%;
    height: 100%;
    text-align: center;
    color: antiquewhite;
    display: flex;
    flex-direction: column;
    font-size: larger;
}

.drink-details-headers {
    display: flex;
    flex-direction: column;
    height: 40%;
    justify-content: space-evenly;
}

.drink-details-specifics {
    height: 60%;
    display: flex;
}

.drink-details-headers h2 {
    padding-top: 0px;
    margin-top: 0px;
}

.drink-details-heart-icon {
    height: 10%;
    position: absolute;
    right: 3%;
    top: 12%;
    cursor: pointer;
}

.drink-details-ingredients,
.drink-details-directions {
    width: 50%;
    display: flex;
    flex-direction: column;
    text-wrap: pretty;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}

