.drinks-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 3em;
  padding: 3em;
  justify-items: center;

  .drink-card {
    position: relative;
    width: 220px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: rgb(22, 22, 22) content-box;
    transition: transform 0.3s;
    color: antiquewhite; 
    margin: 0px;
    border: 1px solid #282828;

    &:hover {
      transform: scale(1.05);
    }

    .drink-card-image {
      position: absolute;
      margin: 0;
      height: 100%;
      width: 100%;
    }
    
    .drink-card-info {
      position: absolute;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
      height: 100%
    }
  }
}

.heart-icon {
  position: absolute;
  height: 15%;
  top: 0;
}

h2 {
  position: absolute;
  width: 100%;
  text-align: center;
  margin: 0;
  bottom: 10%;
}

a {
  text-decoration: none;
}
